.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.board {
  max-width: 900px;
  margin: 0 auto;
}

.rows {
  flex: 1;
}
.row {
  display: flex;
}
  .row--player-2 {
    flex-direction: row-reverse;
  }

ul {
  display: flex;
  justify-content: space-between;
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  flex: 1;
  border: 1px solid brown;
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 5%;
  margin: 0.25rem;
}


.board,
.board li,
.board .score  {
  transition: all 0.75s ease 0.33s;
}

.board--ended li {
  cursor: not-allowed;
  opacity: 0.5;
}

.board--player2{
  /* transform: rotate(180deg); */
}

.board--player2 li,
.board--player2 .score {
  /* transform: rotate(-180deg); */
}

.player {
  border-radius: 5%;
  padding: 0.25em;
  border: 1px solid brown;

  transition: all .25s;
}
.player--current {
  border-color: green;
  box-shadow: 2px 2px 3px #eee;
}

.current-player {
  text-align: center;
  font-weight: normal;
}

.game-over {
  text-align: center;
  font-size: 2em;
  color: tomato;
}